
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Color constants */
:root {
    --grey2: #B0B7C2;
    --primary-blue: #0052CC;
    --secondary-blue: #008DA6;
    --dull-blue: #42526E;
    --orange: #FF8B00;
    --purple: #5243AA;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    border: 1px solid #F4F5F7;
    margin-bottom: 12px;
}

ul {
    list-style: none;
}

body::-webkit-scrollbar {
    width: .2em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-blue);
    outline: 1px solid slategrey;
    border-radius: 50px;
}

body {
    font-family: "Nunito";
}

body, html {
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #222;
}
.btn {
    padding: 10px;
    background-color: var(--primary-blue);
    color: #fff;
    border-radius: 5px;

}

/*Header section */

.header {
    height: 72px;
}

.main-header {
    height: 100%;
    display: flex;
    align-items: center;
}

/*Nav section */

.nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    margin: 10px;
    font-weight: 450px;
    line-height: 24px;
}

.nav .right > * {
    margin: 10px;
}

.nav .right > *:first-child {
    color: var(--grey2);
}

.logo {
    color: var(--primary-blue);
    font-weight: 700;
    font-size: 21px;
    margin-right: 30px;
}

/* Showcase section */
.showcase-container {
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase-illustration {
    height: 50%;
    flex: 1;
    
}

.mask {
    mask-type: alpha;
}

.path {
    mix-blend-mode:multiply;
}

/* Main section */
.hr-section {
    background-color: #F4F5F7;
}

.main-component-item {
    padding: 80px 0;
}

.cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}


/* Iframe section */

.iframe {
    width: 886px;
    height: 506px;
    background-color: #fafbfc;
    box-shadow: -28px 46px 60px rgba(9, 30, 66, 0.08);
    margin: 112px;
}

.iframe header {
    padding: 0 18.62px;
    height: 61px;
    background-color: #fff;
    box-sizing: 0px 1.22222px 3.66667px rgba(193, 199, 208, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iframe header .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hamburger-menu {
    cursor: pointer;
}


.hamburger-menu span {
    display: block;
    width: 15px;
    height: 2.6px;
    background-color: #222;
}

.hamburger-menu span:nth-child(odd) {
    margin: 2px 0;
}

.iframe .logo {

    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0052CC;
    margin: 0 20px;
}

.iframe .logo img {
    width: 60%;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bell icon */
.right > img:first-child {
    margin: 0 20px;
    cursor: pointer;
}


/* Avatar */
.right > img:last-child {
    width: 30px;
    cursor: pointer;
}

.iframe header h3 {
    font-size: 18px;
    font-weight: 500;
}

/* main iframe section */

.iframe-main-section {
    margin-top: 52px;
}

.neutral-bars {
    width: calc(59px * 4);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 7.38px;
}

.neutral-bars > .neutral-bar {
    width: 59px;
    height: 6px;
}

.neutral-bar {
    display: block;
    border-radius: 50px;
    width: 142px;
    height: 5.89px;
    background-color: #F4F5F7;
    margin: 8.92px 0;
}

.neural-bar-lg-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.neutral-bar-lg {
    margin-top: 5.59px;
    background-color: #F4F5F7;
    display: block;
    height: 8px;
    width: 66px;
    border-radius: 17.632335662841797px;
    padding: 1px, 4px, 1px, 4px;  
}

.neutral-bar-lg:nth-of-type(2) {
    width: 105.27px !important;
}

.search-section {
    width: 312px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding-right: 9.53px;
    border: 0.87px solid #DFE1E6;

}

.search-section input {
    border: none;
    outline: none;
    padding: 10px;
}

/* Logistics section */
.main-component-item .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lmain-component-item .top > *:first-child {
    margin-right: 40px;
}

.disp-flex {
    margin-top: 18.71px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.disp-flex aside {
    flex-basis: 20%;
}

.disp-flex main {
    background-color: #fff;
    border: 0.66px solid #DDDDDD;
    /* margin-left: 20.96px;
    width: calc(80% - 20.96px); */
   flex-basis: 80%;
}

.disp-flex main .head-section {
    padding: 10.06px 15.87px;
    border-bottom: 0.66px solid #DDDDDD;;
}

.disp-flex main .content {
    padding: 10.06px 15.87px;
}

.disp-flex main .content p {
    font-size: 11px;
    margin-top: 8px;
}

.disp-flex main .content > div:not(.more-info) {
    width: 50%;
    display: inline-block;
    margin-bottom: 12px;
}

.more-info {
    width: 100%;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-info > div {
    width: 50%;
}


.more-info .left-info span {
    background-color: #F4F5F7;
    display: block;
    height: 8.816166877746582px;
    width: calc(201px * var(--w));
    border-radius: 17.632335662841797px;
    padding: 1px, 4px, 1px, 4px;
    margin-bottom: 8px;

}


.more-info .right-info div {
    height: 8.816166877746582px;
    width: 201px;
    display: flex;
    align-items: center;
    margin-bottom: 17.18px;
}

.more-info .right-info span {
    margin-left: 10px;
    height: 100%;
    width: 80%;
    background-color: #F4F5F7;
    display: block;
    border-radius: 17.632335662841797px;
    padding: 1px, 4px, 1px, 4px;
}

/* finance section */
.employees-table {
    border: 0.8px solid #DDDDDD;
}

.employees-table .table-header {
    border-bottom: 0.8px solid #DDDDDD;
    height: 45.68400573730469px;
    left: 95.59912109375px;
    border-radius: 0px;
    padding-left: 20.87px;
    display: flex;
    align-items: center;

}

.employees-table ul li {
    display: flex;
    align-items: center;
    padding:15px 20.87px;
}

.employees-table ul li span {
    display: flex;
    align-items: center;
    width: 128.98px;
}

.employees-table ul li:nth-of-type(3) {
    box-shadow: 0px 10px 18px 0px #091E4214,
                0px -0.7699999809265137px 1px 0px #DDDDDD inset;

}

.employees-table ul li span img {
    width: 27.9px;
    margin-right: 10px;
}

.employees-table ul li:not(:last-child) {
    border-bottom: 0.8px solid #DDDDDD;
}


.employees-table ul li.t-headers {
    padding:10.31px 20.87px;
}

.employees-table ul li.t-headers span {
    font-weight: 500;
}

.employees-table ul li span:nth-of-type(1) {
    width: 57px;
}

.employees-table ul li span:nth-of-type(2) {
    width: 214.15px;
}




/* Global components */


.card {
    width: 100%;
    height: 289px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 32px;
}

.shadow {
    box-shadow: 0px 18px 31px 0px #091E420F;
}

.card h1 {
    font-size: 24px;
    text-align: left;
}

.card .icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    
}

.employees {
    width: auto;
}

.emp-card-container {
    width: auto;
    display: inline-block;
}

.employee-card {
    margin-right: 14.75px;
    height: 200.78822326660156px;
    width: 162.17510986328125px;
    left: 0px;
    top: 0px;
    border-radius: 3.8613121509552px;
    padding: 31px, 15px, 15px, 15px;
    background: #FFFFFF;
    border: 0.97px solid #DFE1E6;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;


}

.employee-card span {
    font-size: 13.51px;
    font-weight: 450px;
}

.employee-card img {
    height: 81.67656707763672px;
    width: 81.67656707763672px;
    left: 0px;
    top: 0.69256591796875px;
    border-radius: 73.36492919921875px;
    margin-bottom: 14.75px;
}



/* .card img {

} */

.caption h1 {
    font-size: 48px;
    font-weight: 700;
    width: 466px;
    margin-bottom: 8px;
}

.caption small {
    display: block;
    font-size: 16px;
    font-weight: 450px;
    margin-top: 36px;
    width: 345px;
}


.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid #222;
    border-radius: 50%;
    position: absolute;
}